* {
    margin: 0;
    padding: 0;
    box-sizing:content-box
    font-family:Arial, sans-serif;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 50px;
    background-color: #1c1c1c;
}

.logo {
    color: gold;
    font-size: 24px;
    font-weight: bold;
     
}

.navbar ul {
    list-style:none;
    display: flex;
    gap: 25px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.navbar a:hover {
    color: #ffcc00;
}


.hero {
    height:80vh;
    background: linear-gradient(to right, #000000, #2c2c2c);
    display: flex;
    align-items:center;
        padding-left: 60px;
}

.hero-text h1 {
    color: white;
    font-size: 48px;
}

.hero-text p {
    color: #cccccc;
    margin: 15px 0;
}

.hero-text button {
    padding: 12px 25px;
    border: none;
    background-color: #ffcc00;
    font-size: 16px;
    cursor: pointer;
}

.hero-text button:hover {
    background-color: #e6b800;
}


.products {
    padding: 60px;
    background-color: #f5f5f5;
}

.products h2 {
    text-align: center;
    margin-bottom: 40px;
}

.product-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.product-card {
    background: white;
    padding: 20px;
    width: 250px;
    text-align: center;
    border-radius: 8px;
}

.img-box {
    height: 200px;
    background-color: #ddd;
    margin-bottom: 15px;

}
.img-box img{
    height:100%;
    width: 100%;
    object-fit: cover;
}



.about {
    padding: 60px;
    text-align: center;
}

.about p {
    max-width: 600px;
    margin: auto;
    color: #555;
}


footer {
    background-color: #1c1c1c;
    color: white;
    text-align: center;
    padding: 15px;
}
