* {
    margin: 0;
    padding: 0;
    box-sizing:content-box
    font-family:Arial, sans-serif;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 50px;
    background-color: #1c1c1c;
}

.logo {
    color: gold;
    font-size: 24px;
    font-weight: bold;
     
}

.navbar ul {
    list-style:none;
    display: flex;
    gap: 25px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.navbar a:hover {
    color: #ffcc00;
}


.products-page {
    padding: 60px;
    background-color: #f5f5f5;
}

.products-page h1 {
    text-align: center;
    margin-bottom: 40px;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.product-card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}

.product-img {
    height: 180px;
    background-color: #ddd;
    margin-bottom: 15px;
    border-radius: 6px;
}
.product-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-card h3 {
    font-size: 16px;
    margin-bottom: 5px;
}

.product-card p {
    font-weight: bold;
}

footer {
    background-color: #1c1c1c;
    color: white;
    text-align: center;
    padding: 15px;
}